.login-body {
  background-color: #2b2b6b;
  min-height: 100vh;
  width: 100%;  
}

.login-form {
  margin-bottom: 20% !important;
  padding: 16px !important;
}



@media screen and (max-width: 800px) {
  .login-form {
    margin-bottom: 30% !important;
  }
}

@media screen and (max-width: 640px) {
  .login-form {
    margin-bottom: 70% !important;
  }
  .brand-logo {
    width: 50% !important;
  }
}
